node_modules/
build/
dist/
.next/
.out/
static/
public/
coverage/
__coverage__/
__reports__/
/*.config.js
/*rc.js
plopfile.js
tsconfig.json
.eslintrc.json
package.json
yarn.lock
package-lock.json
yarn-lock.json
swagger.json
swagger-config.json
jest.config.ts
